<div id="page-wrapper">
    <div class="container">
        <div class="row el-element-overlay m-b-40">
            <div class="col-md-12">
                <h4 class="text-center">Cleaners{{rsc}}
                </h4>
            </div>
            <!-- /.usercard -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="r in rsc">
                <div class="white-box">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                            <img src="asset_files/images/users/varun.jpg">
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li>
                                        <a class="btn default btn-outline image-popup-vertical-fit" href="asset_files/images/users/varun.jpg">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn default btn-outline" href="javascript:void(0);">
                                            <i class="icon-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h3 class="box-title">Genelia Deshmukh</h3>
                            <small>Managing Director</small>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>